<div class="modal-header">
    <button type="button" class="close" ng-click="vm.cancel()">&times;</button>
    <h3>{{vm.selectedYear + " " + vm.selectedMake + " " + vm.selectedModel}}</h3>
    <h4>{{vm.selectedTrim}}</h4>
</div>
<div class="modal-body">
    <div class="alert alert-danger alert-dismissible" ng-show="!vm.imageAlert==''">
        {{vm.imageAlert}}
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    </div>
    <img ng-src="{{vm.car.Image?vm.car.Image:' '}}" width="800" height="600" class="img-responsive" style="border-color:black" />
    <br />
    <h3>Recalls:</h3>
    <div class="alert alert-success alert-dismissible" ng-show="!vm.recallAlert==''">
        {{vm.recallAlert}}
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    </div>
    <div ng-repeat="result in vm.car.Recalls.Results" style="color: black">

        <h4>{{result.Component}}</h4>
        <div>
            <strong>Summary: </strong>{{result.Summary}}
        </div>
        <div>
            <strong>Consequence: </strong> {{result.Conequence}}
        </div>
        <div>
            <strong>Remedy: </strong>{{result.Remedy}}
        </div>
        <div>
            <strong>Notes: </strong>{{result.Notes}}
        </div>
        <hr />
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
</div>
